.project-container {
    text-align: center;
    flex-direction: column;
    position: relative;
    display: flex;
    align-items: center;
    height: 27vh;
    width: 27vw;
    margin: 15px 5px;
    padding: 5px;
    border: 5px;
}

.project-container img {
    height: 100%;
    width: 100%;
    object-fit: 100%;
}

.featured-project-text {
    text-align: left;
}

.project-content {
    height: auto;
    width: auto;
    padding: 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #573391;
    color: white;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.75s ease-in; 
    transition: all 0.75s ease-in;
}

.project-content h4 {
    font-size: 1.85vw;
}

.project-container p {
    font-size: 1.15vw;
}


.project-container:hover {
    cursor:pointer;
}

.project-container:hover .project-content{
    height: auto;
    width: auto;
    visibility: visible;
    opacity: 1; 
    
}

.container h2 {
    font-size: 4.5rem;
    font-weight: bold;
    color: #71187a;
}

.btn {
    background-color: #EF6D6D;
    border: #EF6D6D;
    margin: 2.5px;
    color: white;
}

.btn:hover {
    background-color: #357C3C;
    border: #357C3C
}

@media only screen and (max-width: 1000px) {
    .project-row{
        position: relative;
        flex-direction: column;
        align-items: center;
        right: 5rem;
    }

    .featured-project-text {
        order: 66;
    }

    .featured-project {
        flex-direction: column;
    }

    .project-container, .project-content {
        height: 40vh;
        width: 55vw;
    }

    .featured-project-img {
        max-height: 30vh;
        height: auto;
    }

    .project-content h4 {
        font-size: 2.85vw;
    }
    
    .project-container p {
        font-size: 1.75vw;
    }
    

    .project-container:hover .project-content{
        height: 40vh;
        width: 55vw;
        visibility: visible;
        opacity: 1; 
    }
}

@media only screen and (max-width: 600px) {
    .project-row{
        position: relative;
        flex-direction: column;
        align-items: center;
        right: 6.5rem;
    }

    .featured-project-text {
        order: 66;
        
    }

    .featured-project-text h4 {
        text-align: center;
    }

    .project-container, .project-content {
        height: 40vh;
        width: 70vw;
    }

    .featured-project-img {
        max-height: 30vh;
        height: auto;
    }

    .project-content h4 {
        font-size: 4.75vw;
    }
    
    .project-container p {
        font-size: 2.5vw;
    }

    .project-container:last-child {
        margin-bottom: 5rem;
    }

    .project-container:hover .project-content{
        height: 40vh;
        width: 70vw;
        visibility: visible;
        opacity: 1; 
    }
}