.project-container {
    text-align: center;
    flex-direction: column;
    position: relative;
    display: flex;
    align-items: center;
    height: 25vh;
    width: 25vw;
    
}

.project-container img {
    height: 100%;
    width: 100%;
    object-fit: 100%;
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #573391;
    color: white;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
    
}

.project-container:hover {
    cursor:pointer;
}

.project-container:hover .project-content{
    height: 100%;
    width: 100%;
    visibility: visible;
    opacity: 1; 
}
