.about-container {
    margin-top: 4rem;
    margin-left: 4rem;
    padding: 20px;
    height: auto;
    width: auto;
}

.about-container-img  {
    height: auto;
    width: auto;
    max-height: 50vh;    
    border-radius: 50%;
}

.about-container-text {
    align-items: center;
}

.about-container h2 {
    font-size: 4.5rem;
    font-weight: bold;
    color: #71187a;
}

.about-container h3 {
    line-height: 2.35rem;
    padding: 5px;
}

.about-container h4 {
    font-size: 1.35rem;
}

.about-container-icon {
    height: 4.5vh;
    transition: filter 0.5s;
}

.about-container-icon:hover {
    filter: invert(35%) sepia(93%) saturate(666%) hue-rotate(70deg) brightness(92%) contrast(96%);
}

.about-container-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.25vh;
}

.about-container-links button {
    transition: background-color, 0.5s;
    font-size: 1.5rem;
}

.about-container-links button:hover {
    background-color: #238f0a;
}

 /* @media only screen and (max-width: 1200px){
    .about-container {
        margin-top: 7.5vh;
        margin-left: 0;
        padding: 0;
    }
    
} */

@media only screen and (max-width: 1000px){
    .about-container {
        margin-top: 5vh;
        margin-left: 0;
        padding: 0;
    }

    .about-container-text{
        text-align: center;
    }
    
    .about-container {
        display: flex;
        flex-direction: column;
    }

    .about-container-img {
        display: block;
        margin: 0 auto;
    }
    
} 

@media only screen and (max-width: 600px){
    .about-container {
        text-align: center;
        margin: 10px 0;
    }
    
    .about-container-img  {
        width: 68vw;   
        border-radius: 50%;
    }
} 

 