.contact-card {
    text-align: center;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 5px;
}

#contact-title { 
    font-size: 10vw;
    text-align: center;
}

.contact-column {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-card a {
    text-decoration: none;
    color: black;
}

.contact-form {
    margin: auto !important;
    padding: 10px;
}

.form-btn {
    background-color: #71187a !important;
}

.form-btn:hover {
    background-color: #238f0a !important;
    color: white;
}


.contact-text {
    padding: 1vh;
}

.contact-icon {
    height: 5vw;
    transition: filter 0.35s ease-in;
    filter: invert(0%) sepia(86%) saturate(7442%) hue-rotate(139deg) brightness(90%) contrast(113%);
}

.contact-icon:hover {
    filter: invert(36%) sepia(100%) saturate(711%) hue-rotate(72deg) brightness(95%) contrast(94%);
}

@media only screen and (min-width: 706px) {
    .contact-column {
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;         
        top: 12.5vh;   
    }

    #contact-title {
        font-size: 5.5vw;
    }
}

@media only screen and (min-width: 950px) {
    .contact-column {
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;         
        top: 12.5vh;   
    }

    #contact-title {
        font-size: 5.5vw;
    }
}