footer {
    background-color: #71187a;
    padding: 5px;
    bottom: 0;
    position: fixed;
    width: 100vw;
    height: 7rem;
}

footer a {
    text-decoration: none;
}

.footer-link h4:hover{
    background: #238f0a;
    transition: 0.5s;
}

footer h4 {
    margin-top: 5px;
    color: black;
    font-size: 3.5vh;
    border-radius: 3px;
}

.footer-social {
    height: 5vh;
    padding: 0px 15px 0px 15px;
    margin: 5px;
    transition: filter 0.5s;
}

.footer-social:hover {
    filter: invert(35%) sepia(93%) saturate(666%) hue-rotate(70deg) brightness(92%) contrast(96%);
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


@media only screen and (max-width: 600px) {
    footer {
        display: none;
    }
}
/* 
@media only screen and (min-width:600px) and (max-width: 700px){
    .container {
        margin: 0px !important; 
    }
} */

@media only screen and (max-width: 850px) {
    .footer-container {
    margin: 0px !important; 
}
}
