footer {
    background-color: #71187a;
}

footer a {
    text-decoration: none;
}

footer h4 {
    height: 10vh;
    padding: 5px;
    margin: 5px;
    color: black;
    font-size: 3.5vh;
    transition: font-size 0.5s;
}

footer h4:hover{
    filter: invert(35%) sepia(93%) saturate(666%) hue-rotate(70deg) brightness(92%) contrast(96%);
    font-size: 4vh;
}

.footer-social {
    height: 10vh;
    padding: 15px;
    margin: 5px;
    transition: height 0.5s;
}

.footer-social:hover {
    height: 11.5vh;
    filter: invert(35%) sepia(93%) saturate(666%) hue-rotate(70deg) brightness(92%) contrast(96%);
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    footer {
        display: none;
    }
}